{% extends "layout.html" %}
<!-- Answer By Fabian C. -->
{% block title %}
    SELL PAGE
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <!--SYMBOL SELECTION SCREEN -->
            <select class="form-select mx-auto w-auto" name="symbol">
                <option disabled="" selected="">Select Symbol</option>
                {% for share in user_portfolio %}
                    <option value="{{ share['symbol'] }}">{{ share['symbol'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
                <!-- SHARES INPUT BOX -->
            <input autocomplete="off" class="form-control mx-auto w-auto" min="0" name="shares" placeholder="Input Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
